                <div class="question-preview">
                    <div class="row">
                        <div class="col-2 avatar-and-likes">
                            <img class="avatar" src="{{ question.author.avatar.url }}" />
                        </div>
                        <div class="col-6">
                            <a href = "{% url 'question' question.id %}" class = "navbar-brand, title">{{question.title}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 avatar-and-likes">
                            <div class="list-group like-button">
                              <a href="#" class="list-group-item list-group-item-action text-center likes">▲</a>
                              <div class="list-group-item text-center text-truncate likes">10</div>
                              <a href="#" class="list-group-item list-group-item-action text-center likes">▼</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <p class = "text">{{question.text}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 answer-bottom">
                            <a href="#" class = "text">answers</a>
                        </div>
                        </div>
                    <div class="row">
                        <div class="col-7 answer-bottom">
                            <p class = "text">Tags:
                            <a href="#" class = "text">Black-jack</a>
                            <a href="#" class = "text">Bender</a>
                            </p>
                        </div>
                    </div>
                </div>