{% extends 'base.html' %}
{% block content %}
                <div class="question">
                    <div class="row">
                        <div class="col-2 avatar-and-likes">
                            <img class="avatar" src="../static/img/avatar.jpg" />
                        </div>
                        <div class="col-6">
                            <p class = "navbar-brand, title">How to build a moon park?</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 avatar-and-likes">
                            <div class="list-group like-button">
                              <a href="#" class="list-group-item list-group-item-action text-center likes">▲</a>
                              <div class="list-group-item text-center text-truncate likes">10</div>
                              <a href="#" class="list-group-item list-group-item-action text-center likes">▼</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <p class = "text">Guys, i have trouble with a moon park. Can't find th black-jack.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9 question-bottom">
                            <p class = "text">Tags: </p>
                            <a href="#" class = "text">Black-jack</a>
                            <a href="#" class = "text">Bender</a>
                        </div>
                    </div>
                </div>

                <hr class = "separator">
                <div class = "col-12">
                <div class="question-preview">
                    <div class="row">
                        <div class="col-2 avatar-and-likes">
                            <img class="avatar" src="../static/img/avatar.jpg" />
                        </div>
                        <div class="col-6">
                            <p class = "navbar-brand, title">Just build a moon park?</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 avatar-and-likes">
                            <div class="list-group like-button">
                              <a href="#" class="list-group-item list-group-item-action text-center likes">▲</a>
                              <div class="list-group-item text-center text-truncate likes">10</div>
                              <a href="#" class="list-group-item list-group-item-action text-center likes">▼</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <p class = "text">Noob...</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check check-bottom">
                                <input class="form-check-input" type="checkbox" value="" required>
                                <p class = "text"> Correct!</p>
                        </div>
                    </div>
                </div>
                </div>

                <div class = "col-12">
                <div class="question-preview">
                    <div class="row">
                        <div class="col-2 avatar-and-likes">
                            <img class="avatar" src="../static/img/avatar.jpg" />
                        </div>
                        <div class="col-6">
                            <p class = "navbar-brand, title">You mean earth park?</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 avatar-and-likes">
                            <div class="list-group like-button">
                              <a href="#" class="list-group-item list-group-item-action text-center likes">▲</a>
                              <div class="list-group-item text-center text-truncate likes">10</div>
                              <a href="#" class="list-group-item list-group-item-action text-center likes">▼</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <p class = "text">HaHa</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-check check-bottom">
                                <input class="form-check-input" type="checkbox" value="" required>
                                <p class = "text"> Correct!</p>
                        </div>
                    </div>
                </div>
                </div>
{% endblock %}